<div class="w-full p-4">
  <%= form_with(url: search_results_path, class: "relative mb-4 flex w-[400px] shadow-sm flex-wrap items-stretch") do |f| %>
    <%= f.text_field :q, placeholder: "Search results by quiz title or student name", class: "min-w-0 flex-auto relative block rounded-l border border-gray-200 outline-none px-3 py-2 focus:border-blue-300" %>
    <%= f.button(type: :submit, class: "rounded-r py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-500 active:bg-blue-700") do %>
      <i class="fa fa-search"></i>
    <%- end -%>
  <% end %>
  <%= @results.find_each do |result| %>
    <%- @course = result.quiz.course -%>
    <%- prev_result = result.quiz.results.where(user: result.user, attempt: ...result.attempt).order(attempt: :desc).first -%>
    <%= render partial: "quizzes/student_result", locals: {result:, quiz: result.quiz, prev_result:} %>
  <% end %>
</div>
